.row-container {
  display: flex; /* Enables flexbox */
  flex-direction: row;
  gap: 20px; /* Adds space between items */
}

.column-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center-align the text */
}

body {
  background-color: rgb(244, 235, 255);
}

h2 {
  background-color: rgb(177, 89, 255);
  padding: 2px;
  color: white;
}

a {
  color: rgb(147, 93, 255);
}